.botao{
    padding: 5px 104px;
    border: none;
    cursor: pointer;
    background-color: #B51D44;
    color: white;
    border-radius: 6px;
    /* Negrito*/
    font-weight: bolder;
    width: 260px;
    
}

