.cadastro_evento {

    align-items: center;
    height: 500px;
}

.titulo {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.titulo hr {

    width: 100%;
    max-width: 300px;
    margin-top: 5px;
    border-color: #B51D44;
    border-width: 1px;
    border-style: solid;
}

.formulario {
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}


.form_cadastro input {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 30px;
    width: 260px;
    padding: 0px 10px;
    border-radius: none;
    border-top: none;
    border-right: none;
    border-left: none;
}

.formulario img {
    width: 400px;
}

.form_cadastro {
    display: flex;
    width: 50%;
    flex-direction: column;
    /* align-items: center; */
}


.campo_cad_genero select,
.campo_cadastro_genero{
    margin-bottom: 20px;
    width: 260px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

/* .input2{
     margin-bottom: 20px;
    width: 260px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
} */

/* .input3{
    margin-bottom: 20px;
    width: 260px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
} */

.campo_cadastro_genero select,
.campo_cad_instituicao input{
    margin-bottom: 20px;
    width: 260px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}



.img_cadastro {
    height: 238px;
    width: 436px;
}

.section_cadastro {
    height: 410px;
}

@media screen and (max-width: 768px){
    .banner{
        /* Para a imagem desaparecer */
        display: none;
    }
}